SERVER_PHOTO_PATH=example
SERVER_TEMP_PHOTO_PATH=example

PHOTO_BASE_URL=example
SWAGGER_CONF=example

LOGGER_TYPE=example

DB_AUTH_NAME=example
DB_MAIN_NAME=example
DB_USER=example
DB_PASSWORD=example

DB_RO_USER=example
DB_RO_PASSWORD=example

DB_REPLICA_USER=example
DB_REPLICA_PASSWORD=example

PGADMIN_USER=example
PGADMIN_PASSWORD=example

TRACER_ENDPOINT=example:example
METER_ENDPOINT=example:example

